/* Space out content a bit */
body {
  background: url(../images/nebula.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Offside', cursive;
  color: white;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  border-top: 1px solid #e5e5e5;
}

/* Main marketing message and sign up button */
.lead {
  text-align: center;
  font-size: 50px;
  margin: 100px 0 80px 0;
}

#output {
  text-align: center;
}

#bio {
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
}

#menu {
  text-align: center;
}

#again, #gallery {
  margin-top: 40px;
}

#gallery-view {
  text-align: center;
  padding-top: 50px;
}

.bio-container > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.bio-container {
  width: 220px;
  height: 280px;
  display: inline-block;
}

.bio-container > span {
  font-size: 1.4em;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
